#ellipseLeft {
  background: navy;
  width: 70px;
  height: 70px;
  border-bottom-left-radius: 50% 25%;
  border-bottom-right-radius: 50% 25%;
  border-top-left-radius: 50% 25%;
  border-top-right-radius: 50% 25%;
  position: absolute;
  left: 1500;
  top: 1200;

}

body {
  background-color: beige;
}
