#eyeL {
  width: 70px;
  height: 70px;
  background: black;
  position: absolute;
  left: 150px;
  top: 150px;
}

#eyeR {
  width: 70px;
  height: 70px;
  background: black;
  position: absolute;
  left: 450px;
  top: 150px;
}

body {
  background-color: beige;
}
