body{
  background-color: rgba(0, 165, 255, 0.8);
  text-align:center;
}
header{
  color: cornsilk;
  font-family:fantasy;
  font-size: xx-large;
  line-height: normal;
  border: 2px solid #FFFACD;
  border-style: groove;
  margin: auto;
  padding: 20px;
}
.content{
  width: 768px;
  display: flex;
}
main{

  color: cornsilk;
  font-family: serif;
  font-style: normal;
  font-size: 25px;
  line-height: 150%;
  border: 2px solid #FFFACD;
  border-style: groove;
  margin: auto;
  padding: 8px;
  float: left;
}
.container{
  border: 2px solid #FFFACD;
  border-style: groove;
  margin: auto;
  padding: 8px;
  height:488px;
  width: 435.5px;
}
aside{
  float: right;
}
.container2{
  border: 2px solid #FFFACD;
  border-style: groove;
  margin: auto;
  padding: 8px;
}
special{
  color: cornsilk;
  font-family: serif;
  font-style: normal;
  font-size: 25px;
  line-height: 150%;
}
footer{
  color: cornsilk;
  font-family:fantasy;
  font-size: medium;
  line-height: normal;
  border: 2px solid #FFFACD;
  border-style: groove;
  margin: auto;
  padding: 20px;
}
