body{
  background-color: rgba(0, 165, 255, 0.88);
  text-align:center;
}

h1{
  color: cornsilk;
  font-family:fantasy;
  line-height: normal;
  border: 2px solid #FFFACD;
  border-style: groove;
  border-radius: 20px;
}

p{
  color: cornsilk;
  font-family: serif;
  font-style: normal;
  font-size: 20px;
  line-height: 125%;
  border: 2px solid #FFFACD;
  border-style: groove;
  border-radius: 20px;
}
