body{
  text-align:center;
}
header{
  background-color: rgba(0, 115, 205, 0.8);
  color: cornsilk;
  font-family:fantasy;
  font-size: xx-large;
  line-height: normal;
  border: 2px solid #FFFACD;
  border-style: groove;
  margin: auto;
  padding: 20px;
}
.content{
  width: 768px;
  display: flex;
}
main{
  background-color: rgba(0, 165, 255, 0.8);
  color: cornsilk;
  font-family: serif;
  font-style: normal;
  font-size: 25px;
  line-height: 150%;
  border: 2px solid #FFFACD;
  border-style: groove;
  margin: auto;
  padding: 8px;
  float: left;
  text-align: left;
}
.container{
  border: 2px solid #FFFACD;
  border-style: groove;
  margin: auto;
  padding: 8px;
  height:492px;
  width: 682.5px;
}
aside{
  background-color: rgba(0, 240, 111, 0.8);
}
.container2{
  background-color: rgba(0, 95, 235, 0.99);
  border: 2px solid #FFFACD;
  border-style: groove;
  margin: auto;
  padding: 8px;
}
special{
  color: cornsilk;
  font-family: serif;
  font-style: normal;
  font-size: 25px;
  line-height: 150%;
}
strong{
  color: salmon;
  font-weight: bold;
}
b{
  color: lime;
  font-weight: bold;
}
footer{
  background-color: rgba(0, 205, 155, 0.8);
  color: cornsilk;
  font-family:fantasy;
  font-size: medium;
  line-height: normal;
  border: 2px solid #FFFACD;
  border-style: groove;
  margin: auto;
  padding: 20px;
}
