body {
  font-family: "Ariel", sans-serif;
  font-size: 14px;
}
h1{
  text-align: center;
}
a{
  color: White;
  background-color: Black;
  margin: 1px;
}
a1{
  color: AliceBlue;
  background-color: DimGrey;
  margin: 1px;
}
a2{
  color: Gainsboro;
  background-color: Grey;
  margin: 1px;
}
a3{
  color: LightGrey;
  background-color: SlateGrey;
  margin: 1px;
}
a4{
  color: LightSteelBlue;
  background-color: LightSlateGrey;
  margin: 1px;
}
a5{
  color: Silver;
  background-color: LightSlateGrey;
  margin: 1px;
}
a6{
  color: LightSlateGrey;
  background-color: LightSteelBlue;
  margin: 1px;
}
a7{
  color: SlateGrey;
  background-color: LightGrey;
  margin: 1px;
}
a8{
  color: Grey;
  background-color: Gainsboro;
  margin: 1px;
}
a9{
  color: DimGrey;
  background-color: AliceBlue;
  margin: 1px;
}
a10{
  color: Black;
  background-color: White;
  margin: 1px;
}
.container{
  width: auto;
  margin:40px, auto;
  overflow: auto;
}
