a{color: Maroon;}
a1{color: Brown;}
a2{color: Sienna;}
a3{color: SaddleBrown;}
a4{color: Chocolate;}
a5{color: Peru;}
a6{color: DarkGoldenrod;}
a7{color: Goldenrod;}
a8{color: SandyBrown;}
a9{color: RosyBrown;}
a10{color: Tan;}
