body {
  font-family: "Ariel", sans-serif;
  font-size: 14px;
}

a {
  color: #fff;
  text-decoration: none;
}

b{
  color: White;
  background-color: Black;
  margin: 1px;
}

b1{
  color: AliceBlue;
  background-color: DimGrey;
  margin: 1px;
}

b2{
  color: Gainsboro;
  background-color: Grey;
  margin: 1px;
}

b3{
  color: LightGrey;
  background-color: SlateGrey;
  margin: 1px;
}

b4{
  color: LightSteelBlue;
  background-color: LightSlateGrey;
  margin: 1px;
}

b5{
  color: Silver;
  background-color: LightSlateGrey;
  margin: 1px;
}

b6{
  color: LightSlateGrey;
  background-color: LightSteelBlue;
  margin: 1px;
}

b7{
  color: SlateGrey;
  background-color: LightGrey;
  margin: 1px;
}

b8{
  color: Grey;
  background-color: Gainsboro;
  margin: 1px;
}

b9{
  color: DimGrey;
  background-color: AliceBlue;
  margin: 1px;
}

b10{
  color: Black;
  background-color: White;
  margin: 1px;
}

h1{
  text-align: center;
}

.container{
  width: 1920px;
  margin: 40px, auto;
  overflow: auto;
}

.slide-in{
  height: 820px;
  width: 1660px;
  position: relative;
  overflow: hidden;
  float:left;
  padding:3px;
  border:#666 solid 1px;
}

.slide-in img{
  display: none;
  height: 820px;
  width: 1660px;
}

.slide-in img.active{
  display: inline-block;
}

.back,.next{
  float: left;
  margin-top: 393.75px;
  cursor:pointer;
  border:#666 solid 1px;
}

.back{
  position: relative;
  margin-right: -45px;
  z-index: 100;
}

.next{
  position: relative;
  margin-left: -45px;
  z-index: 100;
}
